/* Color definitions */
:root {
  --primary-color: #fd55b7;
  --secondary-color: #fd55b7;
  --dark-color: #2e2a39;
  --light-color: #e8ffff;
  --background-color: #2e2a39;
  --accent-color: #fd55b7;
}

/* General Styles */
body {
  font-family: "Arial", sans-serif;
  background-color: var(--background-color);
  color: var(--light-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

h2 {
  text-align: center;
  font-size: 2rem;
  color: var(--primary-color);
  margin: 20px 0;
}

/* Header and navigation */
header {
  background-color: var(--primary-color);
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 1000;

  .logo img {
    max-width: 150px;
    margin-left: 20px;
  }

  .navbar {
    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        margin: 0 15px;

        a {
          color: #fff;
          text-decoration: none;
          font-weight: bold;
          padding: 10px 15px;
          border-radius: 5px;
          transition: background-color 0.3s;

          &.active,
          &:hover {
            background-color: #83feff;
            color: #2e2a39;
          }
        }
      }
    }
  }
}

/* Mobile menu styles */
.menu-toggle {
  display: none;
  cursor: pointer;

  .bar {
    width: 20px;
    height: 3px;
    background-color: var(--light-color);
    margin: 4px;
    border-radius: 10px;
    transition: all 0.3s ease;
  }

  &.active {
    .bar:nth-child(1) {
      transform: rotate(45deg) translateY(7px);
    }

    .bar:nth-child(2) {
      opacity: 0;
    }

    .bar:nth-child(3) {
      transform: rotate(-45deg) translateY(-7px);
    }
  }
}

/* Carousel Styles */
.carousel-section {
  padding: 20px 0;
}

.carousel-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  overflow-x: auto;
  padding: 20px;

  .slide {
    min-width: 250px;
    background-color: var(--dark-color);
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    img {
      width: 100%;
      height: auto;
      border-radius: 15px;
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    }

    h3 {
      font-size: 1.5rem;
      color: var(--light-color);
    }

    p {
      font-size: 1.1rem;
      color: var(--primary-color);
    }
  }
}

/* Table Styles */
.concert-schedule {
  table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: var(--background-color);
    color: var(--light-color);

    th,
    td {
      padding: 15px;
      text-align: center;
      border: 1px solid var(--primary-color);
    }

    th {
      background-color: var(--primary-color);
      color: var(--dark-color);
      text-transform: uppercase;
    }

    tr:nth-child(even) {
      background-color: var(--secondary-color);
    }

    tr:hover {
      background-color: var(--light-color);
      color: var(--dark-color);
    }
  }
}

/* Footer Styles */
footer {
  background-color: var(--dark-color);
  color: var(--light-color);
  text-align: center;
  padding: 20px;

  p {
    margin: 0;
  }
}

/* Media Query for Mobile */
@media screen and (max-width: 768px) {
  header .navbar ul {
    display: none;
    flex-direction: column;
    width: 100%;

    &.active {
      display: flex;
    }
  }

  .menu-toggle {
    display: block;
  }

  .carousel-container {
    flex-direction: column;
    align-items: center;
  }

  .concert-schedule table {
    font-size: 0.9rem;
  }
}

/* Header */
header {
  position: relative;
  background-image: url("./images/festival-techno-la-teste-banniere.jpg");
  background-size: cover;
  background-position: center;
  height: 200px;

  .logo img {
    height: 90px;
    animation: rotation 5s infinite linear;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;

    li {
      margin: 0 20px;

      a {
        color: #fff;
        text-decoration: none;
        font-size: 1.4rem;
        padding: 12px 25px;
        border-radius: 50px;
        background-color: #fd55b7;
        transition: background-color 0.3s ease;
        display: inline-block;

        &:hover {
          background-color: #83feff;
          color: #2e2a39;
          transform: translateY(-5px);
        }

        &:active {
          transform: translateY(0);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero h1,
.hero p,
.hero .btn {
  animation: fadeIn 1s ease-in-out;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.carousel-container .slide {
  animation: slideIn 2s ease-out;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
